/* Pricing.module.css */


.scrollContainer {
    position: relative;
    height: 100%;
    overflow: auto;
    will-change: scroll-position;
  }
  
  .scrollHover {
    overflow: hidden;
    position: relative;
  }
  
  .scrollHover:hover .scrollContainer {
    scroll-behavior: smooth;
    animation: autoScroll 10s linear infinite;
  }
  
  @keyframes autoScroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
  }
  